<div class="container mt-5">
  <h1 class="text-center">Game Score</h1>

  <div class="card">
    <div class="card-body">
      <%= @result %>
    </div>
  </div>

  <%= link_to 'Play again', new_path %>

</div>
